body {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}

footer {
  /*max-height: 5% !important;*/
  padding: 1em !important
}
section {
  min-height: 95%;
}

.gen-box {
  display: block;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}

.gen-border {
  height: 0.25em;
  background-color: #fff;
}

.gen-box.warning {
  color: #e74c3c;
  font-weight: 700;
}


.buttons {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 0.5px solid rgb(228, 228, 228);
}
